.ant-btn-primary {
  background-color: $background-secondary !important;

  &:not(:disabled):hover {
    background-color: $background-primary-hover !important;
  }
}

.hover-app-text {
  @extend .color-bg-primary;

  &:hover {
    @extend .color-bg-secondary
  }
}

.app-button.ant-btn {
  height: 40px;
  padding: 9px 15px;
}