
.app-layout.ant-layout {
  display: flex;
  flex-direction: row;

  .app-layout-item.ant-layout {
    flex: 1;
  }

  .ant-layout-header {
    padding: 0;
  }

  .header {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);

    .trigger {
      font-size: 1.25rem;
      cursor: pointer;
      transition: color 0.3s;
    }

    .header-icon {
      padding: 5px;
      transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
      height: 2.5rem;
      width: 2.5rem;
      transform: scale(0.85);
      border-radius: 50%;

      &:nth-of-type(1):hover {
        transform: rotate(90deg);
      }

      &:nth-of-type(2):hover {
        transform: rotate(180deg);
      }

      &:nth-of-type(3):hover {
        transform: rotate(10deg);
      }

      &:nth-of-type(4):hover {
        transform: rotate(10deg);
      }

      &:hover {
        cursor: pointer;
        transition: all 0.3s ease;
      }
    }

    .header-avatar {
      width: 2.5rem;
      text-align: center;

      .avatar {
        height: 22px;
        width: 22px;
        margin-bottom: 4px;
        line-height: 20px;
        background: $background-primary-hover;
        color: $color-white;
        cursor: pointer;
      }
    }
  }

  .inner-layout {
    max-height: calc(100vh - #{$layout-height});
    overflow-y: auto;
  }

  .content {
    padding: $content-padding;
    min-height: calc(100vh - (#{$layout-height} * 2));
    font-family: $font-family;
    position: relative;
  }

  .ant-layout-footer {
    padding: 0;
  }

  .footer {
    box-shadow: inset 0 1px 0 #e8e8e8;
  }
}

.app-auth-layout.ant-layout {
  max-height: 100vh;
  overflow-y: auto;

  .container-login {
    height: 100vh;
    min-height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
      max-width: 28rem;
      width: 100%;
      margin: 0 1rem;

      .wrapper-logo {
        margin-top: 2rem;
      }

      .wrapper-login {
        background: $background-white;
        margin: 2rem 0;
        padding: 1.5rem;
        box-shadow: 0 0 1.25rem 0 rgba(0,0,0,.2);
        border-radius: 8px;

        .wrapper-title {
          margin-bottom: 1.5rem;
          text-align: center;

          .form-title {
            margin-bottom: 8px;
            @extend .F24B36;
          }
          .register {
            margin-left: 5px;
          }
        }
      }
    }
  }
}
