.ant-row:last-child >.ant-col > .ant-form-item {
  margin: 0;
}

.ant-row > .ant-col >  .ant-form-item {
  margin-bottom: 16px;
}

.app-divider.ant-divider-horizontal.ant-divider-with-text.ant-divider {
  margin: 0;
}

.custom-dropdown-avatar.ant-dropdown {
  .ant-dropdown-menu {
    margin-top: 15px;
  }
}

.app-list {
  .app-list-item {
    background: $background-white;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.05);
    border-radius: 5px;
    padding: 16px;
    &:hover {
      box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.1411764706), 0 1px 8px 0 rgba(0,0,0,.1215686275);

  }
    .item {
      &:not(:first-child) {
        margin-top: 8px;
      }
    }
    .item-sourse {
      font-weight: bold;
    }

  }
}
