.app-layout.ant-layout {

  .side-menu {
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
    height: 100%;

    .logo {
      position: relative;
      height: $logo-height;
      padding: $side-menu-padding $side-menu-padding 0 $side-menu-padding;
      overflow: hidden;
      line-height: $logo-height;
      transition: all 0.3s;

      h1 {
        font-size: 20px;
        margin: 0 0 0 12px;
        font-weight: 600;
        vertical-align: middle;
      }
    }
  }

  .app-menu {
    min-height: calc(100vh - #{$layout-height});
    padding-top: 8px;

    .ant-menu {
      @extend .color-bg-inherit;
      border-inline-end: unset !important;
    }

    .ant-menu-item {
      margin: 4px 12px 8px 12px;
      padding: 0 10px !important;
      width: auto;
      border-radius: 8px;
      height: 40px;
      line-height: 40px;
      display: flex;
      align-content: center;

      &:hover {
        @extend .color-bg-hover-menu
      }
      .ant-menu-title-content {
        margin-left: 12px;
      }
    }

    .ant-menu-item-selected {
      @extend .color-bg-hover-menu
    }
  }
}